.App {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-areas:
		'Content'
		'ProgressBar';
	grid-template-rows: 1fr auto;

	background-color: var(--color-background);

	&__Content {
		grid-area: Content;
		min-width: 0;
		min-height: 0;
	}

	.MapView {
		border: 1px solid var(--color-border);
	}

	.TileTypeList {
		border: 1px solid var(--color-border);
	}

	.ProgressBar {
		grid-area: ProgressBar;
		height: 1rem;
	}
}
