.Button {
	border: 1px solid var(--color-border);
	background-color: var(--color-background);
	padding: 0.5rem;
}

.Button:not(:disabled) {
	cursor: pointer;
}

.Button:disabled {
	color: var(--color-disabled);
	border-color: var(--color-disabled);
}
