.Button {
	border: 1px solid var(--color-border);
	background-color: var(--color-background);
	padding: 0.5rem;

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		color: var(--color-disabled);
		border-color: var(--color-disabled);
	}

	&--destructive {
		color: var(--color-destructive);
		border-color: var(--color-destructive);
	}
}
