.MapView {
	--color-grid: var(--color-border);
}

.MapView__Canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.MapView__Controls {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
	background-color: var(--color-background);
	box-shadow: 0 0 2rem var(--color-background);

	opacity: 0.6;
	transition: opacity 0.2s;
}
.MapView__Controls--Side {
	right: 1rem;
	top: 1rem;
	flex-direction: column;
}

.MapView__Controls--Top {
	top: 0;
	left: 50%;
	width: auto;
	transform: translateX(-50%);
}
.MapView__Controls--Bottom {
	bottom: 0;
	left: 50%;
	width: auto;
	transform: translateX(-50%);
}

.MapView__Controls:hover {
	opacity: 1;
}

.MapView__Control {
	font-size: 1.5rem;
	width: 2em;
	height: 2em;
}
