:root {
	--font-normal: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	--font-fixed-width: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;

	--color-background: #121212;
	--color-text: #eaeaea;
	--color-border: var(--color-text);
	--color-highlight-background: #60606080;
	--color-highlight-background-solid: #606060;

	--color-disabled: #888;

	box-sizing: border-box;

	color: var(--color-text);
}

/* prefer light theme */
@media (prefers-color-scheme: light) {
	:root {
		--color-background: #eaeaea;
		--color-text: #121212;
		--color-highlight-background: #a0a0a080;
		--color-highlight-background-solid: #a0a0a0;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
}

body {
	margin: 0;
	font-family: var(--font-normal);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: var(--font-fixed-width);
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: var(--color-background);
	border-left: 1px solid var(--color-border);
}

::-webkit-scrollbar-thumb {
	background: var(--color-highlight-background);
	border-top: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-highlight-background);
}

input,
textarea {
	border: none;
}
